@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import "../theme/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
* {
    transition: all 0.4s ease;
//   font-family: "Raleway", sans-serif;
font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $blue;
}
input{
    appearance: none;
    -webkit-appearance: none;
}
h1{
    font-size: 25px;
    @include breakpoint(sm){
        font-size: 35px;
    }
}
p{
    font-size: 16px;
    @include breakpoint(sm){
        font-size: 18px;
    }
}












[class*="__container"] {
  max-width: 1300px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(lg){
    max-width: 970px;
  }
  @include breakpoint(md){
    max-width: 750px;
  }
  @include breakpoint(sm){
    max-width: none;
  }
}
