@import "../../theme/variables.scss";
.main {
  width: 100%;
  height: 100vh;
  background-color: $background;
}
.card {
  width: 100%;
  max-width: 350px;
  @extend %drop-shadow;
  border-radius: 16px;
  padding: 25px 30px;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image{
      width: 60px;
      height: 60px;
      img{
          width: 100%;
          height: auto;
      }
  }
  &__body {
    @extend %drop-shadow;
    border-radius: 16px;
    padding: 15px 25px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: repeat(2,1fr);  
    gap: 10px 40px;
    @include breakpoint(sm){
        gap: 10px 20px;
        grid-template-columns: repeat(auto-fit,1fr); 
    grid-template-rows: repeat(auto-fit,1fr);
    }
  }
  &__input {
      width: 100%;
    @extend %drop-shadow;
    border: none;
    border-radius: 16px;
    padding: 15px 25px;
    outline: none;
    position: relative;
    transition: all 1s ease;
    &:focus {
      @extend %inner-shadow;
    }
  }
}
.body {
  &__element {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .wind {
    background-image: url(../../assets/wind.svg);
  }
  .humidity {
    background-image: url(../../assets/humidity.svg);
  }
  .cloud{
    background-image: url(../../assets/cloud.svg);
  }
  .time{
    background-image: url(../../assets/time.svg);
  }
}
.temperature {
  font-size: 35px;
  font-weight: 700;
}
